/* style.css */

body {
  --cell-size: 30px;
  --gap: 0.125rem;
  --gameboard-margin: 1rem;
  --grid-size: 10;
  --color-cell-own: hsl(100, 75%, 87%);
  --color-cell-guess: hsl(0, 75%, 87%);
}

.grid-container {
  border: 5px solid navy;
  width: max-content;
  margin: var(--gameboard-margin);
}

.grid {
  display: grid;
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  gap: var(--gap);
}

.cell-container {
  height: var(--cell-size);
  width: var(--cell-size);
  /* background: red; */
}

.cell {
  height: 100%;
  width: 100%;
  font: 0.5rem 'Serif';
  /* background: navy; */
  /* background: red; */
  /* outline: 1px solid red; */
}

.cell.own {
  /* outline: 1px solid red; */
  background: var(--color-cell-own);
}

.cell.guess {
  border: none;
  /* height: var(--cell-size); */
  /* width: var(--cell-size); */
  background: var(--color-cell-guess);
  cursor: pointer;
}

.cell.guess:hover {
  filter: hue-rotate(90deg);
}
