/* style.css */

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('./assets/fonts/Anton/Anton-Regular.ttf');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Wall Poet';
  src: url('./assets/fonts/Wallpoet/Wallpoet-Regular.ttf');
  font-weight: 600;
  /* font-style: Bold; */
}

/* TODO: MOVE CUSTOM CSS PROPERTIES TO GLOBALS.CSS LATER */
body {
  /* Menu */
  --body-bg: linear-gradient(to right, hsl(214, 94%, 12%), hsl(214, 94%, 19%));
  --menu-text-color: white;
  --menu-bg-color: hsla(225, 85%, 5%, 1);

  /* Game grids */
  --gap: 0.125rem;
  --gameboard-margin: 1rem;
  --grid-size: 10;
  --color-cell-own: hsl(100, 75%, 87%);
  --color-cell-guess: hsl(0, 75%, 87%);

  /* Fonts */
  --rwd-text-xs: calc(0.25rem + 2vw);
  --rwd-text-sm: calc(0.5rem + 2vw);
  --rwd-text-md: calc(0.75rem + 3vw);

  /* Colors */
  --black: black;
  --white: white;
  --text-color-1: LightGray;
  --primary-color: hsl(225, 89%, 55%);
  --primary-color-grad1: hsl(274, 89%, 50%);
  --secondary-color: hsl(195, 89%, 55%);

  /* Spacing */
  --space-sm: calc(0.5vw);
  --space-md: calc(1rem + 1vw);

  /* Border */
  --border-radius: 7px;

  /* body properties */
  background: var(--body-bg);
  font: 1.25rem 'Oswald';
  color: var(--text-color-1);
  letter-spacing: 0.25rem;
  min-height: 100vh;
}

.main {
  display: grid;
  align-items: center;
  min-height: 100vh;
}

.main-display {
  margin-block: var(--space-md);
}

.menu__header {
  text-align: center;
}

.menu__pretitle {
  font: Bold var(--rwd-text-md) 'Wall Poet';
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 7px var(--secondary-color);
  color: var(--black);
}

.menu__title {
  font: 15vw 'Anton';
  background-image: linear-gradient(
    var(--primary-color),
    var(--primary-color-grad1)
  );
  color: transparent;
  background-clip: text;
  transform: perspective(1000px) rotate3D(1, 0, 0, 20deg);
}

.menu__body {
  font-size: 1.25rem;
  /* z-index: 1; */
  display: grid;
  gap: var(--space-md);
}

.menu__body--select_opponent {
}

.menu__body-header {
  text-align: center;
  font-size: var(--rwd-text-sm);
}

.menu__button {
  font-size: var(--rwd-text-sm);
  letter-spacing: 0.125rem;
  padding-block: calc(0.125rem + 1vw);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;
  transition: transform 150ms;
}

.menu__button:hover {
  color: var(--black);
  background: var(--secondary-color);
  transform: scale(1.06);
}

.menu__button:focus {
  outline: 3px dashed white;
  outline-offset: 3px;
}

.menu__field-group {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  /* justify-items: center; */
}

.menu__label {
  font-size: var(--rwd-text-sm);
  color: var(--white);
  justify-self: center;
}

.menu__text-input {
  font-size: var(--rwd-text-sm);
  padding-inline: 1vw;
  padding-block: 0.5vw;
  letter-spacing: 0.125rem;
  color: var(--primary-color);
}

.placement {
  color: var(--text-color-1);
  display: grid;
  gap: var(--space-md);
}

.placement__header {
  text-align: center;
}

.placement__player-heading {
  font-size: var(--rwd-text-sm);
}

.placement__instructions {
  font-size: var(--rwd-text-md);
}

.placement__body {
  display: grid;
  gap: var(--space-md);

  grid-template-areas:
    'p_btns'
    'p_grid'
    'p_bank';
}

.placement__buttons {
  grid-area: p_btns;
  display: grid;
  grid-auto-flow: column;
  gap: var(--space-md);
  height: max-content;
}

.placement__button {
  font-size: var(--rwd-text-sm);
  letter-spacing: 0.125rem;
  padding-block: calc(0.125rem + 1vw);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;
  transition: transform 150ms;
}

.placement__grid {
  grid-area: p_grid;
  background: radial-gradient(
    circle,
    hsl(185, 75%, 55%) 0%,
    hsl(179, 75%, 45%) 35%,
    hsl(169, 75%, 35%) 100%
  );

  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(11, 1fr);
}

.cell {
  width: 100%;
  aspect-ratio: 1;
  border: 2px solid hsla(185, 100%, 75%, 0.75);
  box-shadow: -3px 3px 3px hsla(0, 75%, 1%, 0.15);
}

.axis-marker {
  position: relative;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.axis-marker-text {
  position: absolute;
  color: hsla(185, 100%, 75%, 0.75);
  font-family: 'Wall Poet';
  font-style: italic;
  font-size: var(--rwd-text-sm);
  text-shadow: hsla(0, 75%, 1%, 0.15)-3px 3px;
  pointer-events: none;
}

.placement__bank {
  grid-area: p_bank;
  background: hsla(0, 0%, 0%, 0.25);
}

.placement__bank-body {
}

.ships {
  --cell-size: 8vw;
  display: grid;
  gap: var(--space-md) 0;
  /* grid-auto-flow: row; */
  grid-template-rows: repeat(3, var(--cell-size));
  grid-template-columns: repeat(10, var(--cell-size));
}

.ship {
  width: 100%;
  height: 100%;
}

.ship[data-ship='Carrier'] {
  grid-area: 1 / 1 / span 1 / span 5;
  cursor: grab;
}

.ship[data-ship='Battleship'] {
  grid-area: 2 / 1 / span 1 / span 4;
  cursor: grab;
}

.ship[data-ship='Destroyer'] {
  grid-area: 3 / 1 / span 1 / span 3;

  cursor: grab;
}

.ship[data-ship='Submarine'] {
  grid-area: 2 / 6 / span 1 / span 3;
  cursor: grab;
}

.ship[data-ship='PatrolBoat'] {
  grid-area: 1 / 7 / span 1 / span 2;
  cursor: grab;
}

.dragging {
  opacity: 0.25;
}

.dropping {
  outline: 3px dashed green;
  background: #000;
}

@media screen and (min-width: 500px) {
  body {
    margin-inline: var(--space-md);
  }
}

@media screen and (min-width: 900px) {
  .placement__body {
    grid-template-columns: 11fr 5fr; /*11 cells-wide for grid, 5 cells-wide for bank*/
    grid-template-areas:
      'p_btns p_bank'
      'p_grid p_bank';
  }

  .ships {
    --cell-size: 5vw;
    grid-template-rows: repeat(5, var(--cell-size));
    grid-template-columns: repeat(5, var(--cell-size));
  }

  .ship[data-ship='Carrier'] {
    grid-area: 1 / span 5;
    cursor: grab;
  }

  .ship[data-ship='Battleship'] {
    grid-area: 2 / span 4;
    cursor: grab;
  }

  .ship[data-ship='Destroyer'] {
    grid-area: 3 / span 3;
    cursor: grab;
  }

  .ship[data-ship='Submarine'] {
    grid-area: 4 / span 3;
    cursor: grab;
  }

  .ship[data-ship='PatrolBoat'] {
    grid-area: 5 / span 2;
    cursor: grab;
  }
}
